<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VirtualClassroomDashboard</title>
    <link rel="icon" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!--03/11/21 - AK - logo in nav and navigation links updated-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/vcdLogo.png" alt="Virtual Classroom Dashboard Logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span><img class="navbarIcon" src="~/images/NavIcon.png" alt="nav bar icon" /></span>
                </button>
                <div class="navigation navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Manual">MANUAL</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="sideNav">
            <ul>
                <!--MainNav-->
                <li>
                    <!--Dash-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Dashboard</a>
                </li>
                <!--SubNav Should display schools as a subnav of dashboard-->
                <li class="subNav">
                    <!--Courses-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Courses</a>
                </li>
                <!--subSub nac-->
                <li class="subSubNav">
                    <!--Home-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Home</a>
                </li>
                <li class="subSubNav">
                    <!--Zoom-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Zoom</a>
                </li>
                <li class="subSubNav">
                    <!--Announcements-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Announcements</a>
                </li>
                <li class="subSubNav">
                    <!--Discussion-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="AdminDash">Discussion</a>
                </li>
                <li class="subSubNav">
                    <!--Assignments-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Assignments</a>
                </li>
                <li class="subSubNav">
                    <!--Assessments-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Assessments</a>
                </li>
                <li class="subSubNav">
                    <!--Grades-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="AdminDash">Grades</a>
                </li>
                <li class="subSubNav">
                    <!--Syllabus-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Syllabus</a>
                </li>
                <li class="subSubNav">
                    <!--Roster-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Roster</a>
                </li>
                <!--SubNav-->
                <li class="subNav">
                    <!--Settings-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Settings</a>
                </li>
                <li class="subNav">
                    <!--Profile-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Profile</a>
                </li>
                <!--MainNav-->
                <li>
                    <!--Account-->
                    <a class="nav-link text-dark" asp-area="" asp-controller="Educator" asp-action="EducatorDash">Account</a>
                </li>
            </ul>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
                <!--03/11/21 AK logo in footer and copyright information-->
            <p class="footerp">
                <img src="~/images/vcdLogo.png" alt="Virtual Classroom Dashboard Logo" width="70px" />
                &copy;2021
            </p>
                

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
