@model VirtualClassroomDashboard.Models.excelParseModel;
@{
    ViewData["Title"] = "Add Users";
    Layout = "_LayoutAdmin";
}

<div class="clear"></div>
<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to format your own email of concern please contact: <a class="basicLinks" href="mailto: support@virtualclassroomdashboard.azurewebsites.net?subject=Issues or Concerns (Add your information here)&body=Message">Support. </a>If you would like to format your own comment emil please contact: <a class="basicLinks" href="mailto: info@virtualclassroomdashboard.azurewebsites.net?subject=IFeedback or Comments (Add your information here)&body=Message">Info.</a></p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />

    <h3>Add Users</h3>
    <p>Mass Add Users through an csv file. Formatting for a csv file can be found within the user manual or Download the file: <a class="basicLinks" href="~/Downloadables/Student_or_Teacher_Add_User_s.csv">CSV file</a></p>
    <div class="box">
        <h5>Upload File</h5>
        <form method="post" enctype="multipart/form-data">
            <input id="postedFile" type="file" accept=".csv" name="postedFile" asp-for="Upload" runat="server" /> <!--<input type="submit" value="Add File" /> -->     
            <div asp-validation-summary="ModelOnly" style="color:red"></div>
            <span asp-validation-for="Upload" style="color:red"></span>
            <div><input class="submitButton" type="submit" value="Upload Users" runat="server" /></div>
        </form>
    </div>
</div>

