@{
    ViewData["Title"] = "Documentation";
}

<div class="one-hundred">
    <img class="indexImages" src="~/images/ManualImage.jpg" alt="Virtual Classroom Dashboard Online Learning" />
    <div class="box">
        <h1 class="mainHeading">@ViewData["Title"]</h1>
        <p>
            All the content including the project report can be found at the GitHub repository: 
            <a href="https://github.com/Akimberling/VirtualClassroomDashboard" target="_blank">Virtual Classroom Dashboard GitHub Repository</a>
        </p>
    </div>
    

</div>
