@{
    ViewData["Title"] = "Home Page";
}

<div class="one-hundred">
    <img class="indexImages" src="~/images/IndexImage.jpg" alt="Virtual Classroom Dashboard Online Learning"/>
    <div class="box">
        <h1 class="mainHeading">WELCOME!</h1>
        <p>
            Virtual Classroom Dashboard is a online learning platform. It is a all in one applications where educators can provide a diverse learning environment. It possess the ability for zoom call in application, discussion boards, announcements, assignments, assessments, and grades. Administrations can register their school and upload all the educator and student profiles using a mass upload with csv files. Educators have control over their classroom and students. Students have full access to all their coursework.
        </p>
    </div>
    <a class="linkButtons" asp-controller="Home" asp-action="Registration">REGISTRATION</a>
    <a class="linkButtons shiftRight" asp-controller="Home" asp-action="Login">LOGIN</a>

</div>
<div class="clear"></div>