@{
    ViewData["Title"] = "Home Page";
}

<div class="one-hundred">
    <img class="indexImages" src="~/images/IndexImage.jpg" alt="Virtual Classroom Dashboard Online Learning" />
    <div class="box">
        <h1 class="mainHeading">WELCOME!</h1>
        <p>
            Virtual Classroom Dashboard(VCD) is a Master's Project developed by Amber Kimberling at California State University, Fullerton. Her personal motive for working, researching, and developing Virtual Classroom Dashboard is because of her passion for education. Learning Management Systems are very important in our technological world for educating young minds in the courses they are passionate about. VCD hopes you can utilize this platform to benefit students, educators, and admin. Thank you!
        </p>
    </div>
    <a class="linkButtons" asp-controller="Home" asp-action="Registration">REGISTRATION</a>
    <a class="linkButtons shiftRight" asp-controller="Home" asp-action="Login">LOGIN</a>

</div>
<div class="clear"></div>