@{
    ViewData["Title"] = "Manual";
}

<div class="one-hundred">
    <img class="indexImages" src="~/images/ManualImage.jpg" alt="Virtual Classroom Dashboard Online Learning" />
    <div class="box">
        <h1 class="mainHeading">@ViewData["Title"]</h1>
        <p>
            This will be added after the phase in which the Manuals for the software product are created. 
        </p>
    </div>
    

</div>
