@{
    ViewData["Title"] = "Registration";
}

<div class="one-hundred">
    <img class="indexImages" src="~/images/RegistrationImage.jpg" alt="Virtual Classroom Dashboard Online Learning" />
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>Please fill out your information to register for an account. A registrant must be an administration from their school or own business so they can add students and educator accounts. If you already have an account, please <a class="basicLinks" asp-area="" asp-controller="Home" asp-action="Login">Login</a>.</p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />
    <form class="Login" action="/" method="post">
        <fieldset>
            <div class="thirtythree">
                <label for="fName">First Name: </label>
                <label for="lName">Last Name: </label>
                <label for="pNumber">Phone Number: </label>
                <label for="email">Email: </label>
                <label for="schoolName">School Name: </label>
                <label for="schoolLevel">School Level: </label>
            </div>
            <div class="sixtysix">
                <input id="fName" type="text" name="fName" placeholder="Jane" required />
                <input id="lName" type="text" name="lName" placeholder="Doe" required />
                <input id="pNumber" type="tel" name="pNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-123-1234" />
                <input type="text" id="email" name="email" placeholder="janedoe@gmail.com" required />
                <input id="schoolName" type="text" name="schoolName" placeholder="Institute of Tech" required />
                <select id="schoolLevel" name="schoolLevel">
                    <option value="Elementary">Elementary</option>
                    <option value="Middle School">Middle School</option>
                    <option value="High School">High School</option>
                    <option value="College/University">College/University</option>
                </select>
                <div class="seventyfive">
                    <p>Have an account already? Please <a class="basicLinks" asp-area="" asp-controller="Home" asp-action="Login">Login</a></p>
                    <input class="submitButton" type="submit" value="Register">
                </div>
            </div>
        </fieldset>
    </form>


</div>
<div class="clear"></div>

