@model VirtualClassroomDashboard.Models.UserModel

@{
    ViewData["Title"] = "Registration";
}

<div class="one-hundred">
    <img class="indexImages" src="~/images/RegistrationImage.jpg" alt="Virtual Classroom Dashboard Online Learning" />
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>Please fill out your information to register for an account. A registrant must be an administration from their school or own business so they can add students and educator accounts. If you already have an account, please <a class="basicLinks" asp-area="" asp-controller="Home" asp-action="Login">Login</a>.</p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />
    <div class="row">
        <div class="col-md-12">
            <!--Registration form for an admin user-->
            <form asp-action="Registration">
                <fieldset>
                    <!--Look for ways to add this if a user account exists-->
                    <!--<label class="errorResponse schoolErr">This account already exists with this school information. Either <a class="basicLinks" asp-area="" asp-controller="Home" asp-action="Login">Login</a> or change your school information.</label>
                    <label class="errorResponse userErr">This account already exists with this User information. Either <a class="basicLinks" asp-area="" asp-controller="Home" asp-action="Login">Login</a> or change your school information.</label>*-->

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="fiftyPercent">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddress" class="control-label"></label>
                            <input asp-for="EmailAddress" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmEmail" class="control-label"></label>
                            <input asp-for="ConfirmEmail" class="form-control" />
                            <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="fiftyPercent">
                        <div class="form-group">
                            <label asp-for="SchoolName" class="control-label"></label>
                            <input asp-for="SchoolName" class="form-control" />
                            <span asp-validation-for="SchoolName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SchoolLevel" class="control-label"></label>
                            <select asp-for="SchoolLevel" id="schoolLevel" class="form-control">
                                <option value="Elementary">Elementary</option>
                                <option value="Middle School">Middle School</option>
                                <option value="High School">High School</option>
                                <option value="College/University">College/University</option>
                            </select>
                            <span asp-validation-for="SchoolLevel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SchoolCity" class="control-label"></label>
                            <input asp-for="SchoolCity" class="form-control" />
                            <span asp-validation-for="SchoolCity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SchoolState" class="control-label"></label>
                            <input asp-for="SchoolState" class="form-control" placeholder="EX: CA, MT, AZ" />
                            <span asp-validation-for="SchoolState" class="text-danger"></span>
                        </div>
                        <p>Have an account already? Please <a class="basicLinks" asp-area="" asp-controller="Home" asp-action="Login">Login</a></p>
                        <div class="form-group">
                            <input type="submit" value="Register" class="submitButton" />
                        </div>
                    </div>
                    <div class="clear"></div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
