@model IEnumerable<VirtualClassroomDashboard.Models.UserModel>
@{
    ViewData["Title"] = "Dashboard";
    if (@TempData["UT"].ToString() == "Admin")
    {
        Layout = "_LayoutAdmin";
    }
    else
    {
        Layout = "_LayoutEducator";
    }

}

<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to format your own email of concern please contact: <a class="basicLinks" href="mailto: support@virtualclassroomdashboard.azurewebsites.net?subject=Issues or Concerns (Add your information here)&body=Message">Support. </a>If you would like to format your own comment emil please contact: <a class="basicLinks" href="mailto: info@virtualclassroomdashboard.azurewebsites.net?subject=IFeedback or Comments (Add your information here)&body=Message">Info.</a></p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />
    <h2>SECOND LAYOUT</h2>

</div>
