

header{

    background-color: #000000;

}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
  font-weight:bold;
}
a:hover{
    color:#8CC63E;
}
ul li a{
    font-weight:bold;
}
ul{
    float:left;
    display:block;
}

a.navbar-brand img{
    width: 200px;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #007790;
}

/* Shared Styling
-------------------------------------------------- */
img.centerDivide {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
div.clear{
    clear:both;
    display:block;
}
p.selected{
    font-size: 20px;
}
div.discuss, div.discussboard {
    border: 3px solid #007790;
    padding: 10px;
    width: 75%;
    display: flow-root;
    margin-bottom: 10px;
    background-color: #000000;
    color:#ffffff;
}
div.discussReply {
    border: 3px solid #8CC63E;
    padding: 10px;
    width: 75%;
    display: flow-root;
    margin-bottom:-2px;

}

p.linkDec {
    display: block;
}
p.linkDec a {
    width: 200px;
    background-color: #007790;
    color: #D1D2D4;
    padding: 8px;
    line-height:10px;
    margin-top: 10px;
}
p.linkDec a:hover {
    background-color: #8CC63E;
    color: #fff;
}
div.discussboard p.db a {
    color: #8CC63E;
    font-size: 20px;
    width: 500px;
    padding: 5px;
}

div.discussboard p.db a:hover {
    color: #007790;
}
/* Side Secondary Navigation for user specific layout
---------------------------------------------------*/
main.secLayout{
    width: 75%;
    float: left;
}
div.sideNav {
    float: left;
    width: 20%;
    margin-right: 20px;
    border-right-width: 3px;
    border-right-style: solid;
    border-image: linear-gradient( to bottom, #000000, rgba(0, 0, 0, 0) ) 1 100%;
}
div.sideNav ul.secNav{
    padding-left: 0px;
}
div.sideNav ul.secNav li{
    list-style-type: none;
}
/*div.sideNav ul.secNav li.subNav{
    text-indent: 30px;
}
div.sideNav ul.secNav li.subSubNav{
    text-indent: 60px;
}*/
/* Index content
-------------------------------------------------- */

div.box {
    width: 96%;
    border: 3px solid #8CC63E;
    padding: 2px 2%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    
}
h1.mainHeading {
    margin-top: 8px;
    color: #007790;
    font-weight: bold;
}
a.linkButtons {
    width: 44%;
    border: 1px solid #007790;
    padding: 5px;
    margin-top: 20px;
    float: left;
    background-color: #007790;
    color: #D1D2D4;
    font-weight: bold;
    text-align: center;
    margin-left: 30px
}
a.linkButtons:hover {
    background-color: #8CC63E;
    color: #fff;
}

img.indexImages{
    width: 100%;
}

/*Login & Registration & Contact Contents
-------------------------------------------------- */
fieldset {
    padding: 15px;
    border: 3px solid #8CC63E;
    width: 85%;
    margin-left: auto;
    margin-right:auto;
}
.basicLinks{
    text-decoration: none;
    color: #007790;
    font-weight: bold;
}
.basicLinks:hover {
    color: #D1D2D4;
}
.Login label, .Login input {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
.Login label{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 26px;
}
.Login input {
    width: 75%
}
.Login p{
    clear: both;
    text-align:right;
    margin-top: 15px;
}
.Login .submitButton, input.submitButton {
    width: 200px;
    background-color: #007790;
    color: #D1D2D4;
    float:right;
    margin-bottom: 0px;
}
.Login .submitButton:hover, input.submitButton:hover {
    background-color: #8CC63E;
    color: #fff;
}
.navbarIcon {
    background-image: url(~/images/NavIcon.png);
    height: 30px;
    width: 30px;
}
/*course selection buttons*/
a.courseButton{
    width: 50%;
    border: 1px solid #007790;
    padding: 5px;
    margin-top: 10px;
    margin-left: 245px;
    background-color: #007790;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display:block;
}
a.courseButton:hover{
    background-color: #8CC63E;
}
/*Error in the user/school information meaning it already exists*/
p.errorResponse {
    color: #ff0000;
}
/*center the login*/
.centerLog, .col-md-4{

    margin-right:auto;
    margin-left:auto;
}
/*May get rid of this ....if it doesnt get used*/
div.thirtythree {
    width: 30%;
    padding: 10px 0.5%;
    margin: 10px 1%;
    float: left;
    border-right: 3px solid #8CC63E;
}
/*May get rid of this ....if it doesnt get used*/
div.sixtysix {
    width: 63%;
    padding: 10px 0.5%;
    margin: 10px 1%;
    float: left;
}
div.fiftyPercent {
    width: 47%;
    padding: 10px 0.5%;
    margin: 10px 1%;
    float: left;
}

form{
    margin-bottom: 20px;
}
div.seventyfive {
    margin-top: 10px;
    width: 75%;
}

/*Tabs for editing users from an admin standpoint*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #007790;
    background-color: #007790;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/*Headings */
h3{
    font-size: 18px;
}
h5{
    font-size: 15px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #8CC63E;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #8CC63E;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*Table decoration*/
.tableDec {
    border-collapse: collapse;
}
.tableDec td, .tableDec th {
    border: 1px solid #ddd;
    padding: 8px;
}
.tableDec tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tableDec tr:hover {
    background-color: #ddd;
}
.tableDec th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007790;
    color: white;
}

/**************************************************/
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  white-space:nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: #000000;
  font-weight: bold;
  font-size: 12px;
  margin-top: 50px;
}
.footerp {
    text-align: center;
    margin-bottom: 0px;
    color: #8CC63E;
}
.footerp a {
    display: inline-block;
    margin-top: 0px;
}

/*This code came from w3Schools https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    background-color: #007790;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 100%;
}
.accordDiv{
    width:75%;
    float:left;
    margin-bottom:10px;
}

.panel a {
    width: 30%;
    border: 1px solid #007790;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: #007790;
    color: #fff;
    font-weight: bold;
    text-align: center;
    float: right;
}
.panel a:hover {
    background-color: #8CC63E;
}
div.Hide{
    display:none;
}
/*@ media queries for different media device sizes*/
/*around ipad size*/
@media (max-width: 770px) {
    html {
        font-size: 18px;
    }
    div.fiftyPercent{
        width: 97%;
    }
    img.indexImages{
        width: 100%;
    }
    a.linkButtons{
        width: 85%;
    }
    div.col-md-4{
        max-width:none;
    }
    div.sideNav {
        border: none;
        width: 90%;
        float: right;
    }

    div.col-md-12 {
        width: 100%;
        display: block;
    }

    table {
        display: none;
    }

    div.Hide {
        display: inherit;
    }
    a.courseButton{
        margin-top:0px;
        margin-left:0px;
        width:100%;
    }
    .accordDiv{
        width:auto;
    }
    div.discussboard{
        width: 100%;
    }
    
}
@media (max-width: 411px){
    h1{
        font: 20px;
    }
    h2{
        font: 16px;
    }
    h3{
        font:12px;
    }
    input.submitButton{
        width: 90%;
    }
    img.indexImages {
        display:none;
    }
}
